.header-frame {
    width: 100%;
    height: 90px; /* tùy vào chiều cao header */
    border: none;
}
/* CSS cho Loading Spinner */
#loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1E0060;
    z-index: 9999;
    
    /* Thiết lập hiệu ứng chuyển đổi cho opacity và visibility */
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out; 
}

/* Class kích hoạt hiệu ứng mờ dần */
.fade-out {
    opacity: 0;
    visibility: hidden; /* Ẩn khỏi màn hình và screen readers */
}

/* Class để ẩn hoàn toàn (sau khi hiệu ứng fade-out đã hoàn tất) */
.hidden {
    display: none !important;
}